<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.keelic.carrier.dao.SeckillDao">

    <select id="queryById" resultType="seckill">
        SELECT * from tbl_seckill where seckill_id = ${seckillId}
    </select>

</mapper>